.header {
  /* height: calc(10vh + 100px); */
  position: relative;
  /* position: sticky; */
  /* top: 0px; */
  z-index: 50;
}

.logo {
  /* position: absolute; */
  /* bottom: 0%; */
  /* left: 50%; */
  /* width: 40%; */
  height: 10vh;
  /* transform: translate(-50%, -20px); */
  /* background: rgba(255, 255, 255, 0.3); */
  background-image: url('./logo.jpg');
  background-size: cover;
  background-size: 100% 100%;
  border: 1px black solid;
  z-index: 100;
}
